body {
  background-color: #0a192f;
  color: #ccd6f6;
  font-family: "Anonymous Pro";
}

.noScroll2{
  overflow-x: hidden;
  
}

.rowFix{
  --bs-gutter-x: 0rem;
}

/*Colors*/
.textColor {
  color: #ccd6f6;
}

.accentColor {
  color: #5beaab;
}

.mainColorBg {
  background-color: #0a192f;
}

.mainColorBgBright {
  background-color: #0c2f4b;
}

.linksNavbarCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Other Stuff*/
.fullPage{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

.underScreen{
  text-align: center;
  margin-top: -10vh;
}

.underSpotlight{
  margin-top: 35vh;
}

.hideMobile{
  user-select: none;
}
.navbar-brand{
  user-select: none;
}
.navbar-brand:hover {
  color: #ccd6f6;
}


.padding{
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  margin: 20px;
}


/*project related css*/
.projectBtn{
  background-color: #0e2a53;
  border: none;
  height: 50px;
  width: 110px;
  padding: 5px;
  padding-top: 10px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

/* Skill related CSS */
.cardBox{
  border-radius: 8px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.skillImg{
  max-width: 100%;
  min-width: 60px;
  min-height: 60px;
  max-height: 100%;
  object-fit: contain;
  height: auto;
  width: auto;
}

.cardBox.div{
  margin: 0 auto;
}


/*button design*/
.projectBtn{
  text-decoration: none;
  color: #5beaab;
}

.projectBtn:hover{
  box-shadow: 2px 2px 0px #5beaab;
}

.projectBox{
  box-shadow: 2px 2px 0px #5beaab;
}

.bigButton{
  background-color: #0e2a53;
  border: none;
  padding: 20px;
  padding-top: 27px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #5beaab;
}

.bigButton:hover{
  box-shadow: 2px 2px 0px #5beaab;
}

/*Hover effects*/
.hoverText{
  transition: all 0.3s ease-in-out;
}

.hoverText:hover{
  text-shadow: 4px 4px 0px #121127;
}

.hoverBox{
  transition: all 0.3s ease-in-out;
}

.hoverBox:hover{
  box-shadow: 4px 4px 0px #5beaab;
}

.centerText{
  text-align: center;
}

.mePicture{
  border-radius: 50%;
}
/*mailto*/
.mailto{
  color: #ccd6f6;
  text-decoration-color: #5beaab;
}

.mailto:hover{

  color: #5beaab;
}

.no-margin {
  margin: 0;
}

.project-block {
  margin: 0px;

  @media (max-width: 991px) {
    margin: 8px;
  }

  div:first-child {
    padding: 12px
  }
}

/*media css*/
@media (max-width: 490px){
  .hideMobile{
    display: none;
  }

  .showMobile{
    display: flex;
  }
}

@media (min-width: 490px){
  .hidePc{
    display: none;
  }
}

@media (width < 1200px){
  #YouTube{
    width: calc(560px * 0.8);
    height: calc(315px * 0.8);
  }
}

@media (width < 500px){
  #YouTube{
    width: calc(560px * 0.6);
    height: calc(315px * 0.6);
  }
}


/*Animations*/
.fadeInLong
{ 
  animation: fadeIn 2s; 
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  1% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeInShort
{ 
  animation: fadeIn 1s; 
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  1% { opacity: 0; }
  100% { opacity: 1; }
}
/*Scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccd6f6;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}