body {
  background-color: #0a192f;
  color: #ccd6f6;
  font-family: "Anonymous Pro";
}

/*Colors*/
.textColor {
  color: #ccd6f6;
}

.accentColor {
  color: #5beaab;
}

.mainColorBg {
  background-color: #0a192f;
}

.mainColorBgBright {
  background-color: #0c2f4b;
}

/*Other Stuff*/
.fullPage{
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 10%;
  padding-right: 10%;
}

.navbar-brand:hover {
  color: #ccd6f6;
}

.padding{
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

/*project related css*/
.projectBtn{
  background-color: #0e2a53;
  border: none;
  height: 50px;
  width: 110px;
  padding: 5px;
  padding-top: 10px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

/*button design*/
.projectBtn{
  text-decoration: none;
  color: #5beaab;
}

.projectBtn:hover{
  box-shadow: 2px 2px 0px #5beaab;
}

.projectBox{
  box-shadow: 2px 2px 0px #5beaab;
}

/*Hover effects*/
.hoverText{
  transition: all 0.3s ease-in-out;
}

.hoverText:hover{
  text-shadow: 4px 4px 0px #121127;
}

.hoverBox{
  transition: all 0.3s ease-in-out;
}

.hoverBox:hover{
  box-shadow: 4px 4px 0px #5beaab;
}

.centerText{
  text-align: center;
}

.mePicture{
  border-radius: 50%;
}
/*mailto*/
.mailto{
  color: #ccd6f6;
  text-decoration-color: #5beaab;
}

.mailto:hover{

  color: #5beaab;
}
/*media css*/
@media (max-width: 490px){
  .hideMobile{
    display: none;
  }
}

/*Animations*/
.fadeInLong
{ 
  animation: fadeIn 2s; 
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  1% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeInShort
{ 
  animation: fadeIn 1s; 
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  1% { opacity: 0; }
  100% { opacity: 1; }
}